/* styles.css */

/* Style pour le bouton Démarrer */
.start-button {
    background-color: #4caf50;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.start-button:hover {
    background-color: #45a049;
}

/* Style pour le bouton Arrêter */
.stop-button {
    background-color: #757575;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.stop-button:hover {
    background-color: #616161;
}

/* Style pour le bouton Info */
.info-button {
    background-color: #008cba;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.info-button:hover {
    background-color: #007399;
}

/* Style pour les boutons d'action */
.action-button {
    background-color: #f6f6f6;
    color: #333;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.action-button:hover {
    background-color: #e6e6e6;
}

/* Style pour le bouton Annuler */
.cancel-button {
    background-color: #f44336;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.cancel-button:hover {
    background-color: #da190b;
}

/* Style pour le bouton Mettre à jour les attributs */
.update-button {
    background-color: #f6f6f6;
    color: #333;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.update-button:hover {
    background-color: #e6e6e6;
}
